body {
  background-color: #fff;
  border-radius: 100%;
}

.font-bb {
  font-family: "BrandonGrotesque";
}

.font-bb-light {
  font-family: "BrandonGrotesque-light";
}

.font-bb-med {
  font-family: "BrandonGrotesque-medium";
}

.btn-red {
  background-color: #e53334;
}

.white {
  color: #fff;
}

input[type="text"],
input[type="email"] {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

a:hover {
  text-decoration: underline;
}

a {
  color: #0074d9;
  text-decoration: none;
}

p {
  display: block;
}
