@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../assets/fonts/Brandon_reg.otf');
}

@font-face {
  font-family: 'BrandonGrotesque-light';
  src: url('../assets/fonts/Brandon_light.otf');
}

@font-face {
  font-family: 'BrandonGrotesque-medium';
  src: url('../assets/fonts/Brandon_med.otf');
}